:global .slideLeft-enter
  opacity 0.01
:global .slideLeft-enter .slideLeft-enter-active
  opacity 1
  transition opacity 500ms ease-in
:global .slideLeft-leave
  opacity 1
:global .slideLeft-leave .slideLeft-leave-active
  opacity 0.01
  transition opacity 500ms ease-in

:global .slideLeft-appear
  opacity 0.01
:global .slideLeft-appear .slideLeft-appear-active
  opacity 1
  transition opacity 500ms ease-in
