{
  "extends": "airbnb",
  "ecmaFeatures": {
    "jsx": true
    },
  "plugins": [ "import", "react"],
   "rules": {
        "key-spacing": ["error", { "align": "value", "mode": "minimum" }]
    },
    "settings": {
      "import/resolver": "webpack"
      }
}
