.footerContainer
  width: 100%;
  height: 120px;
  background-color: #F0F0F0;
  line-height: 120px;
  text-align: center;
  box-shadow: inset 0 5px 5px -5px #9b9b9b;
.footer
  display: inline;
  line-height: normal;
  width: 500px;
  height: 60px;
.intro
  line-height: normal;
  font-size: 14px;
  color: #9B9B9B;
