@import "../statics/consts"
.footerContainer
  width: 100%;
  height: 120px;
  background-color: bkgFooter;
  text-align: center;
  box-shadow: inset 0 5px 5px -5px subColor;
  display: table;
.footer
  display: table-cell;
  vertical-align: middle;
  line-height: 1.1;
  width: 500px;
  height: 60px;
.intro
.github
  line-height: normal;
  font-size: 14px;
  color: subColor;
