.header
  position: relative;
  width: 100%;
  min-width: 736px;
  height: 64px;
  background-color: #FFF;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
.logo
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
  width: 180px;
  background-image: url(./headerLogo.svg);
