@import "../../statics/consts"
dateMargin = 25px;
navColor = subColor;
dateNavStyle()
  display: block;
  width: 100%;
  font-size: 14px;
  color: navColor;
  text-align: center;
  &:before
  &:after
    content: "－";
    padding: 0 8px;
  @media screen and (max-width: 700px)
    font-size: 0.8rem;
.storyList
  width: mainBody;
  margin: 0 auto;
  @media screen and (max-width: 700px)
    width: 100%;
.date
  margin: dateMargin 0;
  dateNavStyle()
  @media screen and (max-width: 700px)
    margin 10px 0;
.nextDay
  dateNavStyle()
  transition: all 0.3s ease-in-out;
  input
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: navColor;
    transition: all 0.3s ease-in-out;
  &:hover
    color: hoverColor;
    text-shadow: 0 1px 2px #00000050;
    input
      color: hoverColor;
      text-shadow: 0 1px 2px #00000050;
