dateMargin = 25px;
navColor = #9B9B9B;
dateNavStyle()
  display: block;
  width: 100%;
  font-size: 14px;
  color: navColor;
  text-align: center;
  &:before
    content: "－";
    padding: 0 8px;
  &:after
    content: "－";
    padding: 0 8px;
  @media screen and (max-width: 700px)
    font-size: 0.8rem;
.storyList
  width: 736px;
  margin: 0 auto;
  @media screen and (max-width: 700px)
    width: 100%;
.date
  margin: dateMargin 0;
  dateNavStyle()
  @media screen and (max-width: 700px)
    margin 10px 0;
.nextDay
  dateNavStyle()
  transition: all 0.3s ease-in-out;
  input
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: navColor;
    transition: all 0.3s ease-in-out;
  &:hover
    color: #383838;
    text-shadow: 0 1px 2px #00000050;
    input
      color: #383838;
      text-shadow: 0 1px 2px #00000050;

// top story swipe
.topStoryWarp
  position: relative;
  height: 400px;
  @media screen and (max-width: 700px)
    height: 200px;
    margin-bottom: 15px;
.topStory
  height: inherit;
  width: 100%;
.topStory > div
  height: inherit;
.swipeItem
  height: inherit;
  float:left;
  width:100%;
  position: relative;
.linkwarp
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
  width: inherit;
.header
  position: absolute;
  bottom: 0;
  width: inherit;
  overflow: hidden;
  border-top: 1px solid #000;
  background-color: rgba(0,0,0,0.6);
  white-space: nowrap;
  text-indent: 1rem;
  text-overflow: ellipsis;
  text-shadow: 0 2px 30px #000;
  color: #FFF;
  font-size: 1.25rem;
  line-height: 2;
  @media screen and (max-width: 700px)
    font-size: 1rem;

// swipe nav
.navbtn
  position: absolute;
  top: 50%;
  margin-top: -18px;
  display: block;
  cursor: pointer;
  @media screen and (max-width: 700px)
    display: none;

contentMixin(char)
  transition: transform .2s;
  &:before
    color: #3280ED;
    content: char
    display: block;
    width: 30px;
    height: 30px;
    font-size: 30px;
    padding: 4px;
.prev
  left: 0
  contentMixin('\e606')
  &:active
    transform: translateX(-8px);
.next
  right: 0
  contentMixin('\e605')
  &:active
    transform: translateX(8px);
