@import "../../statics/consts"
width = 30px;

.spinner
  margin: 0 auto;
  height: width;
  width: width;
  border: 7px solid zhihuBlue;
  border-right-color: transparent;
  border-radius: 50%;
  animation: rotate-forever 0.75s infinite linear;

@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.text
  color: subColor;
