@font-face
  font-family iconfont
  font-style normal
  src url('../../statics/iconfont/iconfont.eot')
  src url('../../statics/iconfont/iconfont.woff') format('woff'),
      url('../../statics/iconfont/iconfont.ttf') format('truetype'),
      url('../../statics/iconfont/iconfont.svg') format('svg')
:global .iconfont
  font-family: iconfont !important;
  font-size: 14px;
  color: black;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
.navbtn
  position: absolute;
  top: 50%;
  margin-top: -18px;
  display: block;
  cursor: pointer;
  @media screen and (max-width: 700px)
    display: none;

contentMixin(char)
  transition: transform .2s;
  &:before
    color: #3280ED;
    content: char
    display: block;
    width: 30px;
    height: 30px;
    font-size: 30px;
    padding: 4px;
.prev
  left: 0
  contentMixin('\e64b')
  &:active
    transform: translateX(-8px);
.next
  right: 0
  contentMixin('\e64c')
  &:active
    transform: translateX(8px);
