.itemwarp
  height: inherit;
  width: 640px;
  display: none;
  position: relative;
  border: 1px solid blue;
  box-sizing: border-box;
  transition: transform .6s ease-in-out;

.active
  display: block;
  transform: translateX(0);
.right
  display: block;
  position: absolute;
  top: 0;
  transform: translateX(100%);
.left
  display: block;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
