.itemwarp
  height: inherit;
  float: left;
  box-sizing: border-box;
  overflow: hidden;
.linkwarp
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
  width: inherit;
.header
  position: absolute;
  bottom: 0;
  width: inherit;
  overflow: hidden;
  border-top: 1px solid #000;
  background-color: rgba(0,0,0,0.6);
  white-space: nowrap;
  text-indent: 1rem;
  text-overflow: ellipsis;
  text-shadow: 0 2px 30px #000;
  color: #FFF;
  font-size: 1.25rem;
  line-height: 2.4;
  @media screen and (max-width: 700px)
    font-size: 1rem;
    line-height: 2;
.contentImg
  display: block;
  width: 100%;
