.itemwarp
  height: inherit;
  float: left;
  box-sizing: border-box;
  overflow: hidden;
// .active
//   display: block;
//   transform: translateX(0);
// .right
// .next
//   display: block;
//   transform: translateX(100%);
// .left
// .prev
//   display: block;
//   transform: translateX(-100%);
.linkwarp
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
  width: inherit;
.header
  display: table;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: inherit;
  background-color: rgba(50,128,237,0.8);
  @media screen and (max-width: 700px)
    height: 40px;
.headerTitle
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  color: #FFF;
  font-size: 1.3rem;
  @media screen and (max-width: 700px)
    font-size: 1rem;
.contentImg
  display: block;
  width: 100%;
