// 640px
.sliderWarp
  position: relative;
  width: 640px;
  height: 300px;
  margin-bottom: 40px;
  @media screen and (max-width: 700px)
    margin-bottom: 20px;
    height: 200px;
.sliderBody
  position: relative;
  height: inherit;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
.slideEnter
  opacity: 0.01;
.slideEnterActive
  opacity: 1;
  transition: opacity .5s ease-in;
