// 640px
.sliderBody
  margin: 0;
  padding: 0;
  list-style: none;
  height: 400px;
  box-sizing: border-box;
  position: relative;
.slideEnter
  opacity: 0.01;
.slideEnterActive
  opacity: 1;
  transition: opacity .5s ease-in;
