.navbtn
  position: absolute;
  top: 50%;
  margin-top: -18px;
  display: block;
  cursor: pointer;
  @media screen and (max-width: 700px)
    display: none;

contentMixin(char)
  transition: transform .2s;
  &:before
    color: #3280ED;
    content: char
    display: block;
    width: 30px;
    height: 30px;
    font-size: 30px;
    padding: 4px;
.prev
  left: 0
  contentMixin('\e606')
  &:active
    transform: translateX(-8px);
.next
  right: 0
  contentMixin('\e605')
  &:active
    transform: translateX(8px);
